_target_: lightning.pytorch.trainer.trainer.Trainer
max_epochs: 5
accelerator: auto
devices: 1
log_every_n_steps: 10
enable_checkpointing: true
detect_anomaly: false
default_root_dir: ${hydra:run.dir}
