notebooks/
__pycache__/
.pytest_cache/
dist/
.venv/
*.egg-info/
exploratory/data
.DS_Store
outputs
lightning_logs
datasets
slurm_scripts
logs
local_hydra/local_experiment/*.yaml
!local_hydra/local_experiment/README.md